@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply overflow-hidden;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.area {
  @apply w-screen h-screen bg-slate-50 flex items-center justify-center flex-wrap;;
}

.main-area {
  @apply w-11/12 h-[calc(100%_-_80px)] overflow-auto bg-white shadow-lg;
  @apply border border-slate-200 rounded-lg px-5 py-5 relative -top-3;
}

.information-area {
  @apply w-full h-fit max-w-full flex flex-col lg:flex-row justify-between gap-4 mt-6;
}